$main_dark = #000
$main_lite = #fff
$main_highlite = #FBD784
$main_buttons = #FFA343
$main_shift = 4.7rem;

html,
body {
    font: 18px/1.7 'Open Sans', sans-serif;
}

a {
    color: $main_highlite;
    transition: opacity 0.3s;
    opacity: 1;

    &:visited {
        color: $main_highlite;
    }

    &:hover,
    &:active {
        opacity: 0.7;
    }
}